name: CI

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read

env:
  SKIP: ${{ github.ref == 'refs/heads/master' && 'no-commit-to-branch' || '' }}

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: "3.11.5"
    - uses: pre-commit/action@v3.0.0
  testing:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: "3.11.5"
    - name: pytest
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv sync --dev
        pipenv run pytest --cov --cov-report term-missing
